#virtual enviroment
env/
win_env/

#database
db.sqlite3

#pycharm (opciones del proyecto de pycharm)
.idea/

#pycharm cache
__pycache__/

#python bytecode files  (archivos precompilados de python)
*.pyc

node_modules/

#migrations from Post service
Post/migrations/
Categories/migrations/